/*  your css code here. If applicable */
body{
      background-color: #f6f6f6;
	display: flex;
	justify-content: center;
	align-items: center;
      height: 100vh;
      font-family: Arial, sans-serif;
      gap: 50px;
	
}

 /* both divs have the same class name */
    .container {
      display: inline-block;
    }

    /* left section styling */
    #left {
      width: 450px;
      margin-top: 70px;
    }

    #left img {
      width: 240px;
    }

    #left p {
      font-size: 24px;
    }

    /* form styling */
    form {
      display: flex;
      width: 300px;
      background-color: white;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 0 10px #ccc;
      flex-direction: column;
      gap: 10px;
    }

    input {
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 10px;
      font-size: 14px;
    }

    button {
      background-color: #1877f2;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      color: white;
      font-size: 16px;
      cursor: pointer;
      width: 100%;
    }

    a {
      text-align: center;
      text-decoration: none;
      color: #1877f2;
      font-size: 14px;
    }

    .signup {
      background-color: #42b72a;
      margin-top: 15px;
    }